### Pandas

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [18]:
df.describe()

               SL  sepal.width  petal.length  petal.width
count  150.000000   150.000000    150.000000   150.000000
mean     5.386667     3.057333      3.758000     1.199333
std      0.841752     0.435866      1.765298     0.762238
min      4.000000     2.000000      1.000000     0.100000
25%      5.000000     2.800000      1.600000     0.300000
50%      5.000000     3.000000      4.350000     1.300000
75%      6.000000     3.300000      5.100000     1.800000
max      7.000000     4.400000      6.900000     2.500000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
df["sepal.length"] = df["sepal.length"].astype(int)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SL            150 non-null    int64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 6.0+ KB

In [16]:
df.rename(columns={'sepal.length':'SL'}, inplace=True)

In [17]:
df.head()

   SL  sepal.width  petal.length  petal.width variety
0   5          3.5           1.4          0.2  Setosa
1   4          3.0           1.4          0.2  Setosa
2   4          3.2           1.3          0.2  Setosa
3   4          3.1           1.5          0.2  Setosa
4   5          3.6           1.4          0.2  Setosa

In [23]:
df_g = df.groupby("petal.length")

In [26]:
df.tail()

     SL  sepal.width  petal.length  petal.width    variety
145   6          3.0           5.2          2.3  Virginica
146   6          2.5           5.0          1.9  Virginica
147   6          3.0           5.2          2.0  Virginica
148   6          3.4           5.4          2.3  Virginica
149   5          3.0           5.1          1.8  Virginica

In [28]:
df.head(15)

    SL  sepal.width  petal.length  petal.width variety
0    5          3.5           1.4          0.2  Setosa
1    4          3.0           1.4          0.2  Setosa
2    4          3.2           1.3          0.2  Setosa
3    4          3.1           1.5          0.2  Setosa
4    5          3.6           1.4          0.2  Setosa
5    5          3.9           1.7          0.4  Setosa
6    4          3.4           1.4          0.3  Setosa
7    5          3.4           1.5          0.2  Setosa
8    4          2.9           1.4          0.2  Setosa
9    4          3.1           1.5          0.1  Setosa
10   5          3.7           1.5          0.2  Setosa
11   4          3.4           1.6          0.2  Setosa
12   4          3.0           1.4          0.1  Setosa
13   4          3.0           1.1          0.1  Setosa
14   5          4.0           1.2          0.2  Setosa

In [29]:
len(df)

150

In [30]:
df.tail()

     SL  sepal.width  petal.length  petal.width    variety
145   6          3.0           5.2          2.3  Virginica
146   6          2.5           5.0          1.9  Virginica
147   6          3.0           5.2          2.0  Virginica
148   6          3.4           5.4          2.3  Virginica
149   5          3.0           5.1          1.8  Virginica