In [1]:
import pandas as pd

In [3]:
# Make one dataframe
data = {
    "Fruits": ["Apple", "Banana", "Cherry"],
    "Price": [100,200,300],
    "Quantity": [10,20,30]
}

df1 = pd.DataFrame(data)
df1

   Fruits  Price  Quantity
0   Apple    100        10
1  Banana    200        20
2  Cherry    300        30

In [10]:
df2 = df1.copy()

# changes into old fruits history
df2.loc[0, "Price"] = 400
df2.loc[2, "Price"] = 600

df2.loc[0, "Quantity"] = 40
df2.loc[2, "Quantity"] = 60

df2

   Fruits  Price  Quantity
0   Apple    400        40
1  Banana    200        20
2  Cherry    600        60

In [12]:
# Compare df1 and df2 -> show only changes 
print(df1.compare(df2, align_axis=0))  # self = df1, other = df2

         Price  Quantity
0 self   100.0      10.0
  other  400.0      40.0
2 self   300.0      30.0
  other  600.0      60.0

In [19]:
# keep_shape = True -> fills unchanged values with NaN 
print(df1.compare(df2, align_axis=0, keep_shape=True))

        Fruits  Price  Quantity
0 self     NaN  100.0      10.0
  other    NaN  400.0      40.0
1 self     NaN    NaN       NaN
  other    NaN    NaN       NaN
2 self     NaN  300.0      30.0
  other    NaN  600.0      60.0

In [20]:
# keep_shape = True -> fills unchanged values with NaN 
print(df1.compare(df2, align_axis=0, keep_equal=True))

         Price  Quantity
0 self     100        10
  other    400        40
2 self     300        30
  other    600        60