In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("company1.csv")
data

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [7]:
print(data["EEID"].duplicated().sum())  # check no. of duplicates from particular column

2

In [8]:
print(data.drop_duplicates("EEID"))  # drop duplicates

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN