In [1]:
import pandas as pd

In [4]:
# Make two dataframes
data1 = {
    "EmpID": ["E01","E02","E03","E04"],
    "Name": ["Devansh","Suketu","Harsh","Vihaan"],
    "Age": [21,22,23,24]
}

data2 = {
    "EmpID": ["E01","E02","E03","E04"],
    "Salary": [50000,49000,48000,47000]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)

  EmpID     Name  Age
0   E01  Devansh   21
1   E02   Suketu   22
2   E03    Harsh   23
3   E04   Vihaan   24

  EmpID  Salary
0   E01   50000
1   E02   49000
2   E03   48000
3   E04   47000

In [5]:
# Merge -> merge two dataframes on basis of something
print(pd.merge(df1, df2, on="EmpID")) # matches on "EmpID"

  EmpID     Name  Age  Salary
0   E01  Devansh   21   50000
1   E02   Suketu   22   49000
2   E03    Harsh   23   48000
3   E04   Vihaan   24   47000

In [ ]:
# matches on "EmpID" but "left join"-> gives of left
print(pd.merge(left=df1, right=df2, on="EmpID", how="left"))

  EmpID     Name  Age  Salary
0   E01  Devansh   21   50000
1   E02   Suketu   22   49000
2   E03    Harsh   23   48000
3   E04   Vihaan   24   47000

In [11]:
# concat -> append one dataframe to second dataframe
data3 = {
    "EmpID": ["E01","E02","E03","E04"],
    "Name": ["Devansh","Suketu","Harsh","Vihaan"],
    "Age": [21,22,23,24]
}

data4 = {
    "EmpID": ["E05","E06","E07","E08"],
    "Name": ["Devansh","Suketu","Harsh","Vihaan"],
    "Age": [21,22,23,24]
}

df3 = pd.DataFrame(data3)
df4 = pd.DataFrame(data4)

print(pd.concat([df3, df4]))

  EmpID     Name  Age
0   E01  Devansh   21
1   E02   Suketu   22
2   E03    Harsh   23
3   E04   Vihaan   24
0   E05  Devansh   21
1   E06   Suketu   22
2   E07    Harsh   23
3   E08   Vihaan   24