In [1]:
import pandas as pd

In [11]:
data = {
    "keys": ["k1","k2","k3"],
    "names": ["A","B","C"],
    "houses": ["red","green","blue"],
    "grades": [1,2,3]
}

df = pd.DataFrame(data)
df

  keys names houses  grades
0   k1     A    red       1
1   k2     B  green       2
2   k3     C   blue       3

In [13]:
# Pivoting: Converts long (row-based) data into wide (column-based) format.
"""
index: rows,
columns: column_name(names),
values: value of columns
"""
print(df.pivot(index="keys",columns="names",values=["houses","grades"]))

      houses              grades
names      A      B     C      A    B    C
keys
k1       red    NaN   NaN      1  NaN  NaN
k2       NaN  green   NaN    NaN    2  NaN
k3       NaN    NaN  blue    NaN  NaN    3

In [9]:
data1 = {
    "names": ["A","B","C"],
    "houses": ["red","green","blue"],
    "grades": [1,2,3]
}

df1 = pd.DataFrame(data1)
df1

  names houses  grades
0     A    red       1
1     B  green       2
2     C   blue       3

In [15]:
# Melting: Converts wide (column-based) data into long (row-based) format.
"""
You specify which columns to keep as identifiers (id_vars) and which to unpivot (value_vars).
variable = value format
"""
print(pd.melt(df1, id_vars="names",value_vars=["houses","grades"],var_name="House_var"))

  names House_var  value
0     A    houses    red
1     B    houses  green
2     C    houses   blue
3     A    grades      1
4     B    grades      2
5     C    grades      3